<generic-toolbar>
  <toolbar-row>
    <toolbar-item>
      <button>Click Me!</button>
    </toolbar-item>
    <toolbar-group>
      <toolbar-item #careers [targetURL]="'https://www.decisionengines.ai/careers/'" (click)="showSelection(careers.targetURL)" >
        <i class="icon-amazon"></i>
      </toolbar-item>
      <toolbar-item #contact [targetURL]="'https://www.decisionengines.ai/contact-us/'" (click)="showSelection(contact.targetURL)">
        <i class="icon-android"></i>
      </toolbar-item>
    </toolbar-group>
    <toolbar-item>
      <i class="icon-angry"></i>
    </toolbar-item>
  </toolbar-row>
  <toolbar-row>
    <toolbar-item>
      <i class="icon-address-book"></i>
    </toolbar-item>
    <toolbar-item>
      <i class="icon-alarm"></i>
    </toolbar-item>
    <toolbar-group>
      <toolbar-item>
        <i class="icon-attachment"></i>
      </toolbar-item>
      <toolbar-item>
        <i class="icon-appleinc"></i>
      </toolbar-item>
    </toolbar-group>

    <toolbar-item>
      <i class="icon-binoculars"></i>
    </toolbar-item>
    <toolbar-group>
      <toolbar-item>
        <i class="icon-search"></i>
      </toolbar-item>
      <toolbar-item>
        <i class="icon-bubble"></i>
      </toolbar-item>
    </toolbar-group>
  </toolbar-row>
  <toolbar-row>
    <toolbar-group>
      <toolbar-item>
        <i class="icon-bin"></i>
      </toolbar-item>
      <toolbar-item>
        <i class="icon-attachment"></i>
      </toolbar-item>
    </toolbar-group>
    <toolbar-group>
      <toolbar-item>
        <i class="icon-bookmark"></i>
      </toolbar-item>
      <toolbar-item>
        <i class="icon-basecamp"></i>
      </toolbar-item>
    </toolbar-group>
    <toolbar-group>
      <toolbar-item>
        <i class="icon-circle-down"></i>
      </toolbar-item>
      <toolbar-item>
        <i class="icon-checkmark"></i>
      </toolbar-item>
    </toolbar-group>
    <toolbar-group>
      <toolbar-item>
        <i class="icon-briefcase"></i>
      </toolbar-item>
      <toolbar-item>
        <i class="icon-chrome"></i>
      </toolbar-item>
    </toolbar-group>
    <toolbar-item>
      <i class="icon-camera"></i>
    </toolbar-item>
  </toolbar-row>
</generic-toolbar>

<iframe [src]="showURL" frameborder="0"></iframe>

